<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
    <form action="/create-checkout-session" method="POST">

        <p>if you were referred by somebody, place the code that they gave you into the box below, otherwise leave as 0.</p><input name ="code" value="0">
        <input type="hidden" name="priceId" value="price_1JLKRtGjWHaYzpRYKoRUGFFx" /> <!--price_1JCxwqGjWHaYzpRYCemqz0dI-->
        <button type="submit">Checkout</button>
    </form>
</body>
</html>