<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST CLIENT</title>




<form action = "https://stringapi.net/addUser" method = "POST"> <input name="apiKey" value="APIKEY"> <input name="instanceName" value="Name of instance?"> <input name="userName" value="name"> <input name="code" value="0 if nobody"> <input type="submit"> </form>
    <form action = "https://stringapi.net/getPoints" method = "POST"> <input name="apiKey" value="APIKEY"> <input name="instanceName" value="Name of instance?"> <input name="userName" value="name"> <input type="submit"> </form>
<form action = "https://stringapi.net/changePoints" method = "POST"> <input name="apiKey" value="APIKEY"> <input name="instanceName" value="Name of instance?"> <input name="userName" value="name"> <input name="NumberPoints" value="PositiveOrNegative"> <input type="submit"> </form>
<form action = "https://stringapi.net/getCode" method = "POST"> <input name="apiKey" value="APIKEY"> <input name="instanceName" value="Name of instance?"> <input name="userName" value="name"> <input type="submit"> </form>


</head>
<body>

</body>
</html>