<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/MyStyle.css') }}">
    <title>Welcome To String!</title>
</head>

<body>
<p> PLEASE ENTER IN ALL OF YOUR INFO, THEN I CAN SIGN YOU UP, IF YOU GET A ,
        SUCESS response, then you are set up!, if not, contact me at 914-246-4042.
        I am available 24-7, during the summers, from 2-3:30pm, on weekdays, except for thursday</p>

    <form action = "~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~" method = "GET">
        <input name="myKey" value="436g2kg6hghg3246">
        <input name="CompanyName" value="WHAT IS THE NAME OF YOUR COMPANY(PLACE HERE)">
        <input name="apiKey" value="MAKE YOUR OWN API KEY! THIS IN INNOVATIVE, NOT DUMB, OR A SECURITY RISK">
        <input name="PointsRequired" value="HOW MANY PEOPLE DO YOUR CUSTOMERS(AND THEIR REFERELS NEED TO RECCOMEND FOR YOUR SERVICE?">
        <input name="amountOwed" value="PLACE 0 HERE UNLESS YOU ALREADY OWE ME, WHICH YOU DONT">
        <input type="submit">
    </form>
</body>
</html>

